body {
  height: 100vh;
  align-items: center;
  display: block;
}
div.container {
  max-width: 800px;
  display: block;
  margin: 25px auto;
  padding: 0 auto;
  background-image: linear-gradient(to top, #ace0f9 0%, #fff1eb 100%);
  font-family: "Noto Sans JP", sans-serif;
  border-radius: 15px;
  border: solid rgba(0, 0, 0, 0.3);
  box-shadow: rgba(0, 24, 49, 0.51) 0px 15px 20px 8px;
}

div.jumbotron {
  background: linear-gradient(to top, #ace0f9 0%, #fff1eb 100%);
  color: #3e858b;
  border-radius: 15px;
  border: solid rgba(0, 0, 0, 0.3);
  box-shadow: rgba(37, 39, 89, 0.5) 0px 2px 4px 0;
  margin: 15px auto;
  padding: 15px 40px;
}
h1.display-4 {
  text-align: center;
  color: #3e728b;
  text-shadow: 2px 2px 3px black;
  margin: 0 auto;
}
div.row {
  text-align: center;
}
div.card-body {
  text-align: center;
  padding: 15px;
  color: #3e858b;
}
p.card-text {
  font-size: 25px;
}
div.fiveDayHeader {
  text-align: left;
  color: #fff1eb;
  text-shadow: 3px 3px 5px #003f45;
  font-size: 40px;
  padding-top: 15px;
}

div.forecast {
  margin: 10px 0 25px;
}
div.card {
  background: rgba(255, 255, 255, 0.33);
  box-shadow: rgba(37, 39, 89, 0.5) 0px 2px 4px 0;
}
div.searchbar {
  margin: 15px auto;
  display: block;
  color: #3e728b;
}
input.searchButton,
#current-location {
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #3e728b;
  color: #3e728b;
  font-size: 18px;
  line-height: 22px;
  padding: 4px 10px;
  text-decoration: none;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.5) 0px 2px 4px 0;
  font-weight: bold;
}
input.searchButton:hover,
#current-location:hover {
  background: #3e728b;
  color: #fff1eb;
  cursor: pointer;
  text-shadow: 2px 2px 3px black;
}
input.searchNewCity {
  box-shadow: rgba(62, 114, 139, 0.51) 0px 2px 4px 0;
}
footer {
  font-size: 14px;
  color: rgba(62, 114, 139, 0.51);
}

span.feelsLike {
  font-size: 25px;
}
span.feelsTemp {
  font-size: 35px;
  font-weight: 900;
  text-shadow: 2px 2px 3px rgba(62, 114, 139, 0.51);
}
span#current-degrees {
  font-size: 35px;
  font-weight: 900;
  text-shadow: 2px 2px 3px rgba(62, 114, 139, 0.51);
}
#current-location {
  display: inline;
}
